html  {
    scroll-behavior: smooth;
	}

body{
font-family: inherit;
background: #c8e7df;
	color: #4a4a4a;
}
.container{
  max-width:720px;
  margin:0 auto;
  padding:50px 100px;
}
.three-col-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
		
}
.three-col-flex > * {
    position: relative;
    width: 25%;
	border-radius: 20px;
        min-height: 250px;
        background-color: #f0f0f0;
		padding:20px;

}

h1{
	color: #31846f;
	text-align: center;
	font-weight: 600;
}

h2 {
   text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
	color: #4fa28d;
	text-transform: uppercase;
}

h3{
	color: #2e9279;
	text-align: center;
	font-weight: 700;
}

h4 {
    margin-bottom: 10px;
    color: #03759B;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

p{
	text-align: center;
	line-height: 22px;
}

.three-col-flex .button a {
    color: #fff;
    padding: 7px 35px;
    background-color: #31846f;
    position: absolute;
    bottom: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.three-col-flex .button a:hover {
		background-color:#4fa28d ;
		color: #4a4a4a;
	text-decoration: none;
}

a {
    color:#4fa28d;
    text-decoration: none;
}

a:hover {
    color: #003e5e;
    text-decoration: underline;
}

ul li{
	line-height: 22px;
    margin-bottom: 5px;
}
