body{
  background-color:ffffff;
  font-family: Helvetica, sans-serif;
}

#container{
  background-color:#abdcf9;
  max-width:800px;
  margin:0 auto;
  padding:50px 100px;
}

h1{
  text-align:center;
}
h2{
  text-align:center;
}

	.flex-parent-div{
		overflow: hidden;
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
		margin-bottom: 50px;
	}
	.flex-left-div{
		width: 48%;
		display: inline-block;
		overflow: hidden;
		float: left;
		max-width: 600px
	}

	.flex-right-div{
		width: 48%;
		display: inline-block;
		overflow: hidden;
		float: right;
		max-width: 600px;
		
	}

.button-tab{
  background:#fcd109;
  border-radius:15px;
  padding:15px 30px;
  border: 1px solid black;
}

a{
  color:#000;
  text-decoration:none;
}
  
a:hover{
  color:#000;
  text-decoration:none; 
}


.button-txt{
  font-size:20px;
  letter-spacing: 1px;
  padding:10px 20px;
}

p{
  padding:30px 20px;
  color:#606060;
  letter-spacing: 1px;
  font-size:18px;
  font-weight:600;
  line-height:24px;  
}


.flex-parent-three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
	flex-direction: row;
}
.flex-three-child{
    width: 31%;
    /* float: left; */
    display: inline-block;
	border: 1px solid black;
  background:#fcd109;
  border-radius:15px;
}
.flex-three-child h3{
    text-align: center;
}

@media (max-width: 767px) {

	.flex-left-div{
		width: 100%;
	}

	.flex-right-div{
		width: 100%;
		margin-top: 20px;
		
	}
	.flex-parent-three {
	flex-direction: column;
	}
	.flex-three-child{
    	width: 80%;
	margin: 20px;
	}
}
